html {
    height: 100%;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #ffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 2px;
}

.navbar {
    background-color : #eeebe3;
}

.fa-gem {
    color: #63BFB5;
}

.list-inline-item a {
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-top:10px;
}

.list-inline-item a:hover {
    border-bottom: 2px solid #63BFB5;
    border-right: 2px solid #63BFB5;
    border-left: 2px solid #63BFB5;
}

.img {
	background: url('media/carousel1.jpeg') no-repeat fixed; 
	background-size: cover;
    height: calc(100vh - 164px);
}

.title-home {
    margin-top: 25%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 800;
}

.text-intro {
    margin-top:7%;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btn {
    border: solid black 1px;
    background-color: #eeebe3;
    margin: 0;
}

.btn:hover {
    background-color: #63BFB5;
}